:root {
	--old-copper: rgb(104, 77, 42);
	--old-copper-alpha: rgba(105, 78, 43, 0.702);
	--sapling: rgb(222, 203, 164);
	--silver-chalice: rgb(165, 165, 165);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url("images/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: "Roboto", sans-serif;
}

.main {
	background-color: var(--copper-alpha);
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	margin: 35px auto;
	width: 95%;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	margin: 15px 0;
	font-size: 250%;
	font-family: "Bilbo", cursive;
}

nav {
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	height: auto;
	width: 100%;
	background-color: var(--old-copper);
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
	font-size: 28px;
	font-family: "Bilbo", cursive;
	z-index: 1;
}

ul {
	display: flex;
	list-style: none;
}

@media screen and (max-width: 768px) {
	ul {
		flex-direction: column;
		align-items: center;
	}
}

li {
	padding: 20px;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: var(--sapling);
	transition: 0.2s ease;
}

.active-tab {
	color: var(--sapling);
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* width: 100%; */
	height: 100vh;
}

.welcome {
	font-size: 8rem;
}

#about {
	width: 50%;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.welcome {
		font-size: 3rem;
	}

	#about {
		width: 100%;
	}
}

p {
	line-height: 1.8rem;
	font-size: 22px;
}

@media screen and (max-width: 768px) {
	p {
		font-size: 14px;
	}
}

table {
	margin: 10px auto;
	width: 75%;
	text-align: center;
	border: solid grey 2px;
	overflow: scroll;
}

tr:nth-child(even) {
	background-color: var(--sapling);
}

tr:nth-child(even) a:hover {
	color: black;
	transition: none;
}

th,
td {
	padding: 10px;
}

td a {
	font-size: 28px;
}

hr {
	width: 50%;
	color: var(--silver-chalice);
	margin: 5px auto;
}

img {
	width: 100%;
	height: auto;
	padding: 10px;
}

.links {
	font-size: 30px;
	margin: 30px 0;
}

.music-intro,
.impact,
.games,
.hobbit,
.reunion {
	margin: 30px;
	padding: 5px;
}

.games ul {
	flex-direction: column;
	align-items: center;
	font-weight: 800;
}

.music {
	display: flex;
	flex-direction: column;
	margin: 10px auto;
}

iframe {
	width: 560px;
	padding: 10px;
}

@media screen and (max-width: 768px) {
	iframe {
		width: 100%;
	}
}

.photos,
.videos {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.form-group {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 15px;
	font-size: 18px;
}

input,
button,
textarea {
	margin: 5px 0;
	padding: 10px;
}

@media screen and (max-width: 768px) {
	.form-group {
		margin: 12px;
	}

	input,
	button,
	textarea {
		padding: 5px;
	}

	button {
		font-size: 20px;
	}
}

.heart {
	display: inline-block;
	position: relative;
	margin: 140px auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--sapling);
	height: 50px;
	width: 50px;
	transform: rotate(-45deg);
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: bounce-heart;
	animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
.heart::after {
	background-color: var(--sapling);
	content: "";
	border-radius: 50%;
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0px;
	left: 25px;
}
.heart::before {
	content: "";
	background-color: var(--sapling);
	border-radius: 50%;
	position: absolute;
	width: 50px;
	height: 50px;
	top: -25px;
	left: 0px;
}

@media screen and (max-width: 768px) {
	.heart {
		width: 30px;
		height: 30px;
		margin: 90px auto;
	}

	.heart::after {
		width: 30px;
		height: 30px;
		left: 15px;
	}

	.heart::before {
		width: 30px;
		height: 30px;
		top: -15px;
	}
}

@keyframes bounce-heart {
	0% {
		transform: scale(1, 1) translateY(0) rotate(-45deg);
	}
	10% {
		transform: scale(1.1, 0.9) translateY(0) rotate(-45deg);
	}
	30% {
		transform: scale(0.9, 1.1) translateY(-100px) rotate(-45deg);
	}
	50% {
		transform: scale(1.05, 0.95) translateY(0) rotate(-45deg);
	}
	57% {
		transform: scale(1, 1) translateY(-7px) rotate(-45deg);
	}
	64% {
		transform: scale(1, 1) translateY(0) rotate(-45deg);
	}
	100% {
		transform: scale(1, 1) translateY(0) rotate(-45deg);
	}
}

.reunion-video {
	display: flex;
	justify-content: center;
	margin: 10px auto;
}
